body {
    background-color: #333;
    padding-top: 60px;
}

#content {
    background-color: #e5e5e5;
    margin: 0 20px;
    overflow: auto;
}

#init-app {
    font-size: 40px;
    text-align: center;
    margin-top: 90px;
}
