<div id="nav" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#">Chicago Crime Example App</a>
        </div>
    </div>
</div>

<div id="content" class="container-fluid">
</div>
