<p>In <%= name %> for the month of MONTH, <%= month.burglary %> burglaries occurred </p>

<p><%= (month.burglary - prior.burglary)/prior.burglary %> percent change.</p>

<p>This information is gathered from the City of Chicago data portal and calculated by the Chicago Tribune.</p>
