<h1><%= title %></h1>
<table class="table">
    <thead>
        <% _.each(order, function(header) { %>
        <th>
            <%= header.charAt(0).toUpperCase() + header.slice(1).replace(/_/g, ' ') %>
        </th>
        <% }) %>
    </thead>
    <tbody>
        <% _.each(data, function(row) { %>
        <tr>
            <% _.each(order, function(key) { %>
                <td><%= row[key] %></td>
            <% }); %>
        </tr>
        <% }) %>
    </tbody>
</table>

